@import '~styles/colors';

.EditEventRepeatValueInput__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.EditEventRepeatValueInput__input {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background: $GRAY_300;
  text-align: center;
  font-size: 2rem;

  &-dark {
    @extend .EditEventRepeatValueInput__input;
    color: $GRAY_800;
    background: $GRAY_300;
  }
}
